In [1]:
import pandas as pd
import numpy as np

### 网格分布型数据的创建

In [2]:
a = ['A', 'B', 'C']
b = [3, 5, 7]
X, Y = np.meshgrid(a, b)
c = pd.DataFrame({'x': X.flatten(), 'y': Y.flatten()})
c.shape

(9, 2)

In [3]:
c

   x  y
0  A  3
1  B  3
2  C  3
3  A  5
4  B  5
5  C  5
6  A  7
7  B  7
8  C  7

### 数据类型：Categorical

In [4]:
cut = ['Fair', 'Good', 'Ideal', 'Very Good', 'Premium']
cut_factor1 = pd.Categorical(cut)
cut_factor1

['Fair', 'Good', 'Ideal', 'Very Good', 'Premium']
Categories (5, object): ['Fair', 'Good', 'Ideal', 'Premium', 'Very Good']

In [6]:
cut_factor2 = pd.Categorical(cut, 
                             categories=['Fair', 'Good',  'Very Good', 'Premium', 'Ideal'], 
                             ordered=True)
cut_factor2

['Fair', 'Good', 'Ideal', 'Very Good', 'Premium']
Categories (5, object): ['Fair' < 'Good' < 'Very Good' < 'Premium' < 'Ideal']

In [10]:
# 重新指定类别排序
from pandas.api.types import CategoricalDtype
Cut = pd.Series(cut)
cat_dtype = CategoricalDtype(categories=['Fair', 'Good',  'Very Good', 'Premium', 'Ideal'], ordered=True)
Cut.astype(cat_dtype)

0         Fair
1         Good
2        Ideal
3    Very Good
4      Premium
dtype: category
Categories (5, object): ['Fair' < 'Good' < 'Very Good' < 'Premium' < 'Ideal']