In [1]:
import os

os.getcwd()

os.chdir('C:/Users/1000257489/Documents/2023/Angelina/Study/Dashboards with Plotly & Dash/Download Resources/Course_Materials/Data')

In [2]:
import pandas as pd
import numpy as np

import plotly.graph_objects as go
import plotly.express as px

from jupyter_dash import JupyterDash
from dash import dcc, html

from dash.dependencies import Output, Input
from dash.exceptions import PreventUpdate

education = pd.read_csv("states_all.csv").assign(
    expenditure_per_student = lambda x: x["TOTAL_EXPENDITURE"] / x["GRADES_ALL_G"],
    above_avg_math8 = lambda x: np.where(x["AVG_MATH_8_SCORE"] > 278.6,'Above Avg', 'Below Avg')
)

education.tail()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,expenditure_per_student,above_avg_math8
1710,2019_VIRGINIA,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,247.0,287.0,224.0,262.0,NaN,Above Avg
1711,2019_WASHINGTON,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,240.0,286.0,220.0,266.0,NaN,Above Avg
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,231.0,272.0,213.0,256.0,NaN,Below Avg
1713,2019_WISCONSIN,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,242.0,289.0,220.0,267.0,NaN,Above Avg
1714,2019_WYOMING,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,246.0,286.0,227.0,265.0,NaN,Above Avg

### Labels & Values

In [3]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H2(id='header'),
    dcc.Dropdown(
        id = 'X Column Picker',
        options=list(education.select_dtypes(include='number').columns),
        value='TOTAL_EXPENDITURE',
#         multi=True
    ),
    dcc.Graph(id='graph')
]
)

@app.callback(
    Output('header', 'children'),
    Output('graph', 'figure'),
    Input('X Column Picker', 'value')
)

def plot_rev_scatter(x):
    if not x:
        raise PreventUpdate
        
    fig = px.scatter(
        education,
        x=x,
        y='AVG_MATH_8_SCORE',
#         color='STATE',
        trendline='ols'
    ).update_layout(template='plotly_dark')
    
    header = f'Math Score vs. {x.title()}'
    return header, fig

if __name__ == '__main__':
    app.run_server(mode='inline', debug=True, port=8055)

Dash is running on http://127.0.0.1:8055/

### Multi Select Dropdowns

In [4]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(
        id='State Picker',
        options=list(education.STATE.unique()),
        value=['CALIFORNIA'],
        multi=True
    ),
    dcc.Graph(id='Output Graph')
]
)

@app.callback(
    Output('Output Graph', 'figure'),
    Input('State Picker', 'value')
)

def Plot_line(state):
    if not state:
        raise PreventUpdate
        
    fig = px.line(
        education.query("STATE in @state & 1992 < YEAR < 2016"),
        x = 'YEAR',
        y = 'TOTAL_EXPENDITURE',
        color="STATE",
        title = f"Total Expenditure Trend, by Selected State"
    )
    return fig

if __name__ == '__main__':
    app.run_server(mode='inline', port=8051, debug=True)

Dash is running on http://127.0.0.1:8051/

In [10]:
# Dynamic Title
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(
        id='State Picker',
#         options=['CALIFORNIA', 'WASHINGTON'],
        options=[{'label': state.title(), 'value': state} for state in education['STATE'].unique()],
#         value=['CALIFORNIA', 'WASHINGTON'],
        multi=True
    ),
    dcc.Graph(id='Output Graph')
]
)

@app.callback(
    Output('Output Graph', 'figure'),
    Input('State Picker', 'value')
)

def Plot_line(state):
    if not state:
        raise PreventUpdate
        
    fig = px.line(
        education.query("STATE in @state"),
        x = 'YEAR',
        y = 'TOTAL_EXPENDITURE',
        color="STATE",
        title = f"Total Expenditure Trend for {state[0].title()} and {state[1].title()}"
    ).update_layout(title_x=0.5, title_y=0.9)
    return fig

if __name__ == '__main__':
    app.run_server(mode='inline', port=8052, debug=True)

Dash is running on http://127.0.0.1:8052/

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
IndexError: list index out of range

### CheckList

In [7]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Checklist(
        id = 'scores',
        options = [
            "AVG_MATH_4_SCORE",
            "AVG_MATH_8_SCORE",
            "AVG_READING_4_SCORE",
            "AVG_READING_8_SCORE"
        ],
        value = ["AVG_MATH_4_SCORE"]
    ),
    dcc.Graph(id = 'graph')
]
)

@app.callback(
    Output('graph', 'figure'), # 注意是Output(), Input(), NO "="!!!
    Input('scores', 'value')
)

def plot_hist(scores):
    if not scores:
        raise PreventUpdate 
    fig = px.histogram(
        education,
        x = scores,
        barmode='overlay',
        title='Score Distribution'
    ).update_traces(opacity=0.7).update_layout(title_x=0.5, title_y=0.9)    
    return fig
    
if __name__ == '__main__':
    app.run_server(mode='inline', debug=True, port=2321)

Dash is running on http://127.0.0.1:2321/

In [8]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Checklist(
        id = 'input_state',
#         options = ["CALIFORNIA", "TEXAS", "FLORIDA", "OREGON"],
        options = [{'value': state, 'label': state.title()} for state in education.STATE.unique()],
        value = ['CALIFORNIA']
    ),
    dcc.Graph(id = 'graph')
]
)

@app.callback(
    Output('graph', 'figure'),
    Input('input_state', 'value')
)

def plot_line(state):
    if not state:
        raise PreventUpdate
    fig = px.line(
        education.query("STATE in @state & 1992 < YEAR < 2016")
        .groupby(['YEAR', 'STATE'])
        .sum()
        .reset_index(),
        x = 'YEAR',
        y = 'TOTAL_EXPENDITURE',
        color = 'STATE',
        title = 'Total Expenditure Trend per State'
    )   
    return fig
    
if __name__ == '__main__':
    app.run_server(mode = 'inline', debug = True, port = 1111)

Dash is running on http://127.0.0.1:1111/

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
IndexError: list index out of range

### RadioItems

In [19]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.RadioItems(
        id = 'OLS Toggle',
        options = ['Trendline On', 'Trendline Off'],
        value = 'Trendline Off'
    ),
    dcc.Graph(id = 'graph')
]
)

@app.callback(
    Output('graph', 'figure'),
    Input('OLS Toggle', 'value')
)

def plot_scatter(ols):
    fig = px.scatter(
        education,
        x = 'expenditure_per_student',
        y = 'AVG_MATH_8_SCORE',
        trendline=None if ols=='Trendline Off' else 'ols',
#         color='STATE',
        hover_name='STATE',
        title = 'The Relationship Between Expense and Test Scores'
    )
    
    return fig

if __name__ == '__main__':
    app.run_server(mode='inline', debug=True, port=1212)

Dash is running on http://127.0.0.1:1212/

In [39]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.RadioItems(
        id = 'statistics',
        options = ['sum', 'mean', 'median'],
        value='mean'
    ),
    dcc.Graph(id = 'graph')
]
)

@app.callback(
    Output('graph', 'figure'),
    Input('statistics', 'value')
)

def plot_bar(metric):
    fig = px.bar(
        education.query("STATE in ['OHIO', 'ALABAMA', 'WASHINGTON', 'COLORADO'] and 1992 < YEAR < 2016")
        .groupby(['STATE'], as_index=False)
        .agg({'TOTAL_EXPENDITURE': metric}),
        x = 'STATE',
        y = 'TOTAL_EXPENDITURE',
#         color = 'STATE',
#         barmode='relative'
    ).update_xaxes(type='category', dtick=2)
    return fig

if __name__ == '__main__':
    app.run_server(mode='inline', port=9087, debug=True)

Dash is running on http://127.0.0.1:9087/

### Sliders

In [52]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Slider(id = 'spend', min=0, max=30, step=5, value=15),
    dcc.Graph(id='graph')
]
)

@app.callback(
    Output('graph', 'figure'),
    Input('spend', 'value')
)

def plot_bar(spending):
    fig = px.bar(
        education.query("expenditure_per_student > @spending").groupby('YEAR', as_index=False).count(),
        x = 'YEAR',
        y = 'expenditure_per_student',
        hover_name='STATE',
        title = f"States that spending over ${spending}K per student"
    )
    fig.update_xaxes(range=[2006, 2017], dtick=3)
    fig.update_yaxes(title='COUNT', range=[0, 55])
    
    return fig

if __name__ == "__main__":
    app.run_server(mode='inline', debug=True, port=2023)

Dash is running on http://127.0.0.1:2023/

In [66]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.RangeSlider(id = 'spend', min=0, max=30, step=5, value=[10, 15]),
    dcc.Graph(id='graph')
]
)

@app.callback(
    Output('graph', 'figure'),
    Input('spend', 'value')
)

def plot_bar(spending):
    fig = px.bar(
        education.query("@spending[0] <= expenditure_per_student <= @spending[1]").groupby('YEAR', as_index=False).count(),
        x = 'YEAR',
        y = 'expenditure_per_student',
        hover_name='STATE',
        title = f"States Qty that spending between ${spending[0]}K-{spending[1]}K per student"
    )
    fig.update_xaxes(range=[1992, 2017], dtick=3)
    fig.update_yaxes(title='COUNT', range=[0, 55])
    fig.update_traces(width=0.5)
    
    return fig

if __name__ == "__main__":
    app.run_server(mode='inline', debug=True, port=2022)

Dash is running on http://127.0.0.1:2022/

In [76]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.RangeSlider(id = 'score_range',
                    min = education.query("YEAR==2013")['AVG_MATH_8_SCORE'].min(),
                    max = education.query("YEAR==2013")['AVG_MATH_8_SCORE'].max(),
                    step = 5,
                    value = [275, 280]),
    dcc.Graph(id = 'graph')
])

@app.callback(
    Output('graph', 'figure'),
    Input('score_range', 'value')
)

def plot_scatter(score):
    df = education.query("YEAR == 2013").assign(score_cutoff = 
                                                lambda x: np.where(x['AVG_MATH_8_SCORE'].between(score[0], score[1]), 
                                                         'In Range', 'Out of Range')
                                               )
    
    fig = px.scatter(
        df,
        x = 'AVG_MATH_8_SCORE',
        y = 'expenditure_per_student',
        color = 'score_cutoff',
        hover_name = 'STATE',
        title = 'Score Vs. Expenditure/student'
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode = 'inline', debug = True, port = 5434)

Dash is running on http://127.0.0.1:5434/

### Data Pickers

In [86]:
collisions = pd.read_csv(r'C:\Users\1000257489\Documents\2023\Angelina\Study\Dashboards with Plotly & Dash\Download Resources\Course_Materials\Data\NYC_Collisions.csv')
collisions = (
    collisions
    .astype({"ACCIDENT_DATE": "datetime64"})
    .loc[:,["ACCIDENT_DATE", "BOROUGH", "COLLISION_ID"]]
    .groupby(["ACCIDENT_DATE", "BOROUGH"], as_index=False)
    .count()
    .rename(columns={
        "COLLISION_ID":"COLLISIONS", 
        "ACCIDENT_DATE":"DATE"})  
)

collisions.head()

        DATE        BOROUGH  COLLISIONS
0 2021-01-01          BRONX          28
1 2021-01-01       BROOKLYN          72
2 2021-01-01      MANHATTAN          23
3 2021-01-01         QUEENS          44
4 2021-01-01  STATEN ISLAND           8

In [99]:
from datetime import datetime
from datetime import date

app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.DatePickerSingle(
        id = 'date picker',
        min_date_allowed = collisions['DATE'].min(),
        max_date_allowed = collisions['DATE'].max(),
        initial_visible_month=collisions["DATE"].min(),
        date = date(2021, 1, 1) 
    ),
    dcc.Graph(id = 'graph')
])

@app.callback(
    Output('graph', 'figure'),
    Input('date picker', 'date')
)

def plot_bar(date):
    fig = px.bar(
        collisions.query("DATE == @date")
        .groupby('BOROUGH', as_index=False)['COLLISIONS'].sum(),
        x = 'COLLISIONS',
        y = 'BOROUGH',
        title = f"Traffic Accident in NYC on {date[:10]}"
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode='inline', debug=True, port = 9031)

Dash is running on http://127.0.0.1:9031/

#### DatePickerRange

In [105]:
from datetime import datetime
from datetime import date

app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.DatePickerRange(
        id = 'date picker',
        min_date_allowed = collisions['DATE'].min(),
        max_date_allowed = collisions['DATE'].max(),
        initial_visible_month=collisions["DATE"].min(),
        start_date = collisions['DATE'].min(),
        end_date = date(2022, 1, 1) 
    ),
    dcc.Graph(id = 'graph')
])

@app.callback(
    Output('graph', 'figure'),
    [Input('date picker', 'start_date'), Input('date picker', 'end_date')]
)

def plot_bar(start_date, end_date):
    fig = px.bar(
        collisions.query("DATE.between(@start_date, @end_date)")
        .groupby('BOROUGH', as_index=False)['COLLISIONS'].sum(),
        x = 'COLLISIONS',
        y = 'BOROUGH',
        title = f"Traffic Accident in NYC between {start_date[:10]} and {end_date[:10]}"
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode='inline', debug=True, port = 9032)

Dash is running on http://127.0.0.1:9032/

### Multiple Input Callbacks

In [106]:
education.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,expenditure_per_student,above_avg_math8
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN,3.627221,Below Avg
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN,7.939520,Below Avg
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN,5.050774,Below Avg
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN,3.948044,Below Avg
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN,5.164536,Below Avg

In [107]:
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
 25  expenditure_per_student       1275 non-null   float64
 26  above_avg_math8               1715 non-null   object
dtypes: float64(23), int64(1), object(3)
memory usage: 361.9+ KB

In [125]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(id = 'x input',
                 options = [{'value': col, 'label': col.upper()} for col in education.select_dtypes(include=['float64']).columns.tolist()],
                 value = 'expenditure_per_student'
                ),
    dcc.Dropdown(id = 'y input',
                 options = [{'value': col, 'label': col.upper()} for col in education.select_dtypes(include=['float64']).columns.tolist()],
                 value = 'AVG_MATH_8_SCORE'
                ),
    dcc.RadioItems(id = 'trendline',
                  options = ['Trendline On', 'Trendline Off'],
                  value = 'Trendline Off'
                 ),
    dcc.Graph(id = 'graph'),
    dcc.Graph(id = 'graph1'),
    dcc.Graph(id = 'graph2')
])

@app.callback(
    Output('graph', 'figure'),
    Output('graph1', 'figure'),
    Output('graph2', 'figure'),
    Input('x input', 'value'),
    Input('y input', 'value'),
    Input('trendline', 'value')
)

def plot_scatter(x, y, ols):
    if not x or not y:
        raise PreventUpdate
    
    fig = px.scatter(
        education,
        x = x,
        y = y,
        trendline = None if ols=='Trendline Off' else 'ols',
        title = f"{y.upper()} vs. {x.upper()}"
    ).update_layout(title_x=0.5, title_y = 0.9) 
    
    fig1 = px.histogram(
        education,
        x = x,
        opacity=.6,
        range_y = [0, 85],
        marginal = 'box',
        title = f"Distribution of {x}"
    ).update_layout(title_x=0.5, title_y = 0.9)  
    
    fig2 = px.histogram(
        education,
        x = y,
        opacity=.6,
        marginal = 'box',
        title = f"Distribution of {y}"
    ).update_layout(title_x=0.5, title_y = 0.9) 
    return fig, fig1, fig2

if __name__ == "__main__":
    app.run_server(mode = 'inline', port = 2343, debug = True)

Dash is running on http://127.0.0.1:2343/